In [1]:
import pandas as pd
import numpy as np

### Read in dataframe from JSON

In [2]:
df_orig = pd.read_json('../data/data.json')

In [3]:
df_orig.head()

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,"[{'event_id': 527017, 'cost': 25.0, 'availabil...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,...,"[{'event_id': 786878, 'cost': 35.0, 'availabil...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC
2,premium,1296172800,2601,8,US,USD,1.0,"<h3><span class=""subcategory""><strong>Teacher ...",pvsd.k12.ca.us,1291090956,...,"[{'event_id': 787337, 'cost': 93.51, 'availabi...",214,1272559388,3,10100 Pioneer Blvd Suite 100,US,33.944201,-118.080419,Los Angeles County Office of Education,CA
3,premium,1388966400,12347,6,IE,EUR,1.0,"<p style=""margin-bottom: 1.3em; padding-bottom...",irishtabletennis.com,1360681570,...,"[{'event_id': 885645, 'cost': 25.0, 'availabil...",889,1283870102,3,,None,NaN,NaN,None,None
4,premium,1297900800,2417,11,US,USD,0.0,<p>Writers and filmmakers need to understand t...,artsandbusinesscouncil.org,1291994666,...,"[{'event_id': 1114349, 'cost': 150.0, 'availab...",35,1288984065,3,One Marina Park Drive,US,42.353848,-71.044276,Fish & Richardson,MA

### Check Number of Data Points and Number of Features

In [4]:
num_features = len(df_orig.columns)
num_rows = df_orig['acct_type'].count()

In [5]:
print("Num Features Original: {}".format(num_features))
print("Num Rows Original: {}".format(num_rows))

Num Features Original: 44
Num Rows Original: 14337

### How many unique values do we have for 'acct_type'?

In [6]:
num_unique_acct_types = len(df_orig['acct_type'].value_counts())
print("Num Unique 'ACCT_TYPES': {}".format(num_unique_acct_types))
df_orig['acct_type'].value_counts()

Num Unique 'ACCT_TYPES': 12

premium             12373
fraudster_event       851
fraudster             437
spammer_limited       218
spammer_warn          144
tos_warn               91
spammer_noinvite       84
tos_lock               77
locked                 54
fraudster_att           5
spammer_web             2
spammer                 1
Name: acct_type, dtype: int64

### Ratio of 'fraud' VS. 'not_fraud'?

***Note:*** any data point that has 'fraud' in it gets considered as fraud

In [7]:
#add up all fraud cases to get total amount
total_fraud = df_orig['acct_type'].value_counts()['fraudster_event']
total_fraud += df_orig['acct_type'].value_counts()['fraudster']
total_fraud += df_orig['acct_type'].value_counts()['fraudster_att']

print("Ratio of Fraud: {}%".format((total_fraud/num_rows)*100))

Ratio of Fraud: 9.01862314291693%

### How to modify 'acct_type' to True/False based on fraud or not fraud:

In [22]:
df = df_orig.copy()

In [23]:
#NOTE: code below will change the 'acct_type' col case by case to True/False for fraud cases

# df.loc[df['acct_type'] == 'fraudster_event', 'acct_type'] = True
# df.loc[df['acct_type'] == 'fraudster', 'acct_type'] = True
# df.loc[df['acct_type'] == 'fraudster_att', 'acct_type'] = True
# df.loc[df['acct_type'] != True, 'acct_type'] = False

In [24]:
def scrub_fraud_no_fraud(df):
    df['fraud_no_fraud'] = df['acct_type'].astype(str).str[:5] == 'fraud'
    return df['fraud_no_fraud']

In [25]:
df['fraud_no_fraud'] = scrub_fraud_no_fraud(df)

In [26]:
df['fraud_no_fraud'].value_counts()

False    13044
True      1293
Name: fraud_no_fraud, dtype: int64