In [28]:
import pandas as pd
from IPython.core.display import HTML

import src.scrubbington as srcb

In [2]:
df = pd.read_json('data/data.json')

In [3]:
df.head()

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,"[{'event_id': 527017, 'cost': 25.0, 'availabil...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,...,"[{'event_id': 786878, 'cost': 35.0, 'availabil...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC
2,premium,1296172800,2601,8,US,USD,1.0,"<h3><span class=""subcategory""><strong>Teacher ...",pvsd.k12.ca.us,1291090956,...,"[{'event_id': 787337, 'cost': 93.51, 'availabi...",214,1272559388,3,10100 Pioneer Blvd Suite 100,US,33.944201,-118.080419,Los Angeles County Office of Education,CA
3,premium,1388966400,12347,6,IE,EUR,1.0,"<p style=""margin-bottom: 1.3em; padding-bottom...",irishtabletennis.com,1360681570,...,"[{'event_id': 885645, 'cost': 25.0, 'availabil...",889,1283870102,3,,None,NaN,NaN,None,None
4,premium,1297900800,2417,11,US,USD,0.0,<p>Writers and filmmakers need to understand t...,artsandbusinesscouncil.org,1291994666,...,"[{'event_id': 1114349, 'cost': 150.0, 'availab...",35,1288984065,3,One Marina Park Drive,US,42.353848,-71.044276,Fish & Richardson,MA

In [32]:
sample = df.iloc[0]
sample

acct_type                                               fraudster_event
approx_payout_date                                           1266062400
body_length                                                        3852
channels                                                              5
country                                                              US
currency                                                            USD
delivery_method                                                       0
description           <p><a href="http://s432.photobucket.com/albums...
email_domain                                                  gmail.com
event_created                                                1262739706
event_end                                                    1265630400
event_published                                             1.26311e+09
event_start                                                  1265594400
fb_published                                                          0
gts                                                                   0
has_analytics                                                         0
has_header                                                            1
has_logo                                                              0
listed                                                                y
name                  99 HOUR "NO SLEEP" SUPER BOWL CELEBRITY WEEKEN...
name_length                                                          60
num_order                                                             0
num_payouts                                                           0
object_id                                                        527017
org_desc
org_facebook                                                          0
org_name                          Party Starz Ent & Diverse Int'l Group
org_twitter                                                           0
payee_name
payout_type
previous_payouts                                                     []
sale_duration                                                        29
sale_duration2                                                       33
show_map                                                              1
ticket_types          [{'event_id': 527017, 'cost': 25.0, 'availabil...
user_age                                                             36
user_created                                                 1259613950
user_type                                                             1
venue_address                                     717 Washington Avenue
venue_country                                                        US
venue_latitude                                                  25.7775
venue_longitude                                                -80.1334
venue_name                                  INK Nightclub - South Beach
venue_state                                                          FL
Name: 0, dtype: object

# acct_type (Account Type)

**LABEL COLUMN, NEVER USE IN MODELS**

---

# approx_payout_date (Approximate Payout Date)

Assumption: The day the cash from ticket sales was paid to the user.

*Will this data be available when an event is first created?*

**Incorporation Difficulty: EASY**

**Importance: Probably Unavailable**

We want to detect Fraud BEFORE payout, right?

First sample:        
Event Published - 1263110000 - GMT: Sunday, January 10, 2010 7:53:20 AM     
Event Start - 1265594400 - GMT: Monday, February 8, 2010 2:00:00 AM        
Approximate Payout Date - 1266062400 - GMT: Saturday, February 13, 2010 12:00:00 PM     

---

# body_length (Body Length)

Assupmtion: The length of the description

**Incorporation Difficulty: EASY**

**Importance: Low?**

---

# channels (Event Marketing Channels)

Assumption: How many different channels was the event marketed in?

**Incorporation Difficulty: EASY**

**Importance: Medium-High?**

---

# country (Country of Event)

Assumption: How many different channels was the event marketed in?

72 Unique Countries     
13321 (93%) in USA, GB, CA, AUS

**Incorporation: Easy!**   

**Importance: Low?**

**NULL VALUES PRESENT**

---

# Description

In [9]:
HTML(sample['description'])

In [10]:
sample

acct_type                                               fraudster_event
approx_payout_date                                           1266062400
body_length                                                        3852
channels                                                              5
country                                                              US
currency                                                            USD
delivery_method                                                       0
description           <p><a href="http://s432.photobucket.com/albums...
email_domain                                                  gmail.com
event_created                                                1262739706
event_end                                                    1265630400
event_published                                             1.26311e+09
event_start                                                  1265594400
fb_published                                                          0
gts                                                                   0
has_analytics                                                         0
has_header                                                            1
has_logo                                                              0
listed                                                                y
name                  99 HOUR "NO SLEEP" SUPER BOWL CELEBRITY WEEKEN...
name_length                                                          60
num_order                                                             0
num_payouts                                                           0
object_id                                                        527017
org_desc
org_facebook                                                          0
org_name                          Party Starz Ent & Diverse Int'l Group
org_twitter                                                           0
payee_name
payout_type
previous_payouts                                                     []
sale_duration                                                        29
sale_duration2                                                       33
show_map                                                              1
ticket_types          [{'event_id': 527017, 'cost': 25.0, 'availabil...
user_age                                                             36
user_created                                                 1259613950
user_type                                                             1
venue_address                                     717 Washington Avenue
venue_country                                                        US
venue_latitude                                                  25.7775
venue_longitude                                                -80.1334
venue_name                                  INK Nightclub - South Beach
venue_state                                                          FL
Name: 0, dtype: object

In [11]:
sample['name']

'99 HOUR "NO SLEEP" SUPER BOWL CELEBRITY WEEKEND GRAND FINALE'

In [12]:
df.shape

(14337, 44)

In [15]:
df['org_name'].unique().shape

(9501,)

In [37]:
test = df[['org_name', 'org_twitter' ]]
test

                                                org_name  org_twitter
0                  Party Starz Ent & Diverse Int'l Group          0.0
1                             RUF at Winthrop University         12.0
2      University Preparation School in collaboration...          0.0
3                                                                 0.0
4             Arts & Business Council of Greater Boston           0.0
5                         Bluegrass Stallions Basketball          0.0
6                        NABOE Business Owner Networking          0.0
7                                   The Magnetic Theatre          0.0
8                                                                 0.0
9                                   The Magnetic Theatre          0.0
10                 San Francisco Family Support Network           0.0
11                                              forageSF          8.0
12                  Ft. Worth Business Assistance Center          0.0
13                                        CCICE and CSPA          0.0
14                                        Simply Stylist         15.0
15                                       Reel Link Films         14.0
16                                       Reel Link Films         14.0
17                      Friends of South Berwick Library          0.0
18                                                                0.0
19                             Mélange Productions, Inc.          0.0
20          The European Independent Film Festival (ÉCU)          0.0
21                                     Percussion Center         15.0
22                         Calvary Church in Holland, MI          0.0
23                                  First American Title         11.0
24                                     Digital EYE Media         16.0
25                                     Scoutmaster Bucky          0.0
26                                                                0.0
27                                       Chicago Tribune         15.0
28                  American Academy of Facial Esthetics         15.0
29                                              DISTRIKT          0.0
...                                                  ...          ...
14307                                 ATD - ImprovBoston          0.0
14308                                       Bethel Music         12.0
14309                                                             0.0
14310                                     JourneyingFree          0.0
14311                     Trinity Church of the Nazarene          0.0
14312                                     ABD Cycle Club         10.0
14313                                      IRIS Presents         13.0
14314                                             PIECES          0.0
14315                                   Swing in Utrecht         15.0
14316                                  THE FUNCTIONS ORG          0.0
14317                                    God Des and She         13.0
14318                                         Dating NYC          0.0
14319                                                             0.0
14320  Newcastle University Christian Union & Northum...          0.0
14321                                          The Fetch          8.0
14322                                Boy Scout Troop 469          0.0
14323                                                             0.0
14324                               Legion Fetish Events         12.0
14325                   Arthur Taylor..   "High Society"          0.0
14326                                Sandie Byrne Medium         13.0
14327  Community Anti-Racism Education Initiative (CA...          0.0
14328                                    Making U Social          0.0
14329                                    Making U Social          0.0
14330          Center for Spritual Living - C.O.L.O.R.S.         14.0
14331                                   Revolution Group          0.0
14332                                                             0.0
14333           ARCS Foundation, Inc., San Diego Chapter          0.0
14334                           Tiffantasy Entertainment          0.0
14335                                                             0.0
14336                                          ali osman          0.0

[14337 rows x 2 columns]

In [29]:
df['org_twitter'].describe()

count    14278.000000
mean         4.306976
std          6.011520
min          0.000000
25%          0.000000
50%          0.000000
75%         11.000000
max         34.000000
Name: org_twitter, dtype: float64

In [22]:
df['country'].value_counts()[0:]

US    9234
GB    2083
CA    1262
AU     742
       316
NZ      73
IE      48
MA      47
DE      43
FR      40
NL      36
VN      32
ES      27
A1      25
PK      22
BE      18
HU      18
PH      15
ID      12
PR      10
CI       9
RO       8
AT       8
AR       8
CZ       7
NG       7
SG       7
CH       6
TH       6
DZ       6
      ...
UY       2
MX       2
QA       2
TR       2
NA       2
CN       2
PT       2
GR       2
RU       2
CM       2
VI       1
BS       1
CO       1
TJ       1
IS       1
KE       1
AE       1
IM       1
CR       1
PE       1
JE       1
DK       1
IL       1
PS       1
SI       1
VE       1
NI       1
EC       1
BB       1
LB       1
Name: country, Length: 72, dtype: int64

In [21]:
1.26311e+09

1263110000.0

In [ ]:
channels, fb_published, has_analytics, has_logo, num_order, num_payouts, sale_duration2, show_map, user_age, user_type

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14337 entries, 0 to 14336
Data columns (total 44 columns):
acct_type             14337 non-null object
approx_payout_date    14337 non-null int64
body_length           14337 non-null int64
channels              14337 non-null int64
country               14256 non-null object
currency              14337 non-null object
delivery_method       14321 non-null float64
description           14337 non-null object
email_domain          14337 non-null object
event_created         14337 non-null int64
event_end             14337 non-null int64
event_published       14238 non-null float64
event_start           14337 non-null int64
fb_published          14337 non-null int64
gts                   14337 non-null float64
has_analytics         14337 non-null int64
has_header            8928 non-null float64
has_logo              14337 non-null int64
listed                14337 non-null object
name                  14337 non-null object
name_length           14337 non-null int64
num_order             14337 non-null int64
num_payouts           14337 non-null int64
object_id             14337 non-null int64
org_desc              14337 non-null object
org_facebook          14278 non-null float64
org_name              14337 non-null object
org_twitter           14278 non-null float64
payee_name            14337 non-null object
payout_type           14337 non-null object
previous_payouts      14337 non-null object
sale_duration         14182 non-null float64
sale_duration2        14337 non-null int64
show_map              14337 non-null int64
ticket_types          14337 non-null object
user_age              14337 non-null int64
user_created          14337 non-null int64
user_type             14337 non-null int64
venue_address         14337 non-null object
venue_country         13261 non-null object
venue_latitude        13261 non-null float64
venue_longitude       13261 non-null float64
venue_name            13261 non-null object
venue_state           13261 non-null object
dtypes: float64(9), int64(18), object(17)
memory usage: 4.9+ MB

In [30]:
df['user_age'].describe()

count    14337.000000
mean       374.226547
std        418.593616
min          0.000000
25%         13.000000
50%        242.000000
75%        603.000000
max       3794.000000
Name: user_age, dtype: float64

In [35]:
df['currency'].value_counts()

USD    9696
GBP    2222
CAD    1322
AUD     779
EUR     262
NZD      55
MXN       1
Name: currency, dtype: int64

In [38]:
feature_list = ['channels', 'fb_published', 'has_analytics', 'has_logo', 'num_order', 'num_payouts', 
'sale_duration2', 'show_map', 'user_age', 'user_type', 'body_length']

In [40]:
df[feature_list].values

array([[    5,     0,     0, ...,    36,     1,  3852],
       [    0,     0,     0, ...,   149,     3,  3499],
       [    8,     0,     0, ...,   214,     3,  2601],
       ...,
       [   13,     1,     0, ...,    84,     4,   557],
       [    8,     0,     0, ...,   812,     3, 10873],
       [    0,     0,     0, ...,     0,     1,     0]])

In [41]:
1400/14000

0.1

In [42]:
446/1400

0.31857142857142856